<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

  {% include head.html %}
  
  <body id="{{page.sideNavId}}" class="">
    <div id="top">
    <!-- SiteCatalyst code version: H.8. Copyright 1997-2006 Omniture, Inc. -->
    <script type="text/javascript">
    /* RSID: */
    var s_account="appleglobal,appleusdeveloper"
    </script>
    </div>
    <nav id="ac-globalnav" class="js no-touch svg no-ie7 no-ie8" role="navigation" aria-label="Global Navigation" data-hires="false" data-analytics-region="global nav" lang="en-US">
      <div class="ac-gn-content">
        <ul class="ac-gn-header">
          <li class="ac-gn-item ac-gn-menuicon"> <label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
              <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
                <span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
              </span>
              <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
                <span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
              </span>
            </label>
            <a href="#ac-gn-menustate" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open"> <span class="ac-gn-menuanchor-label">Open Menu</span> </a>
            <a href="#" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close"> <span class="ac-gn-menuanchor-label">Close Menu</span> </a>
          </li>
          <li class="ac-gn-item ac-gn-apple">
            <a class="ac-gn-link ac-gn-link-apple" href="/" id="ac-gn-firstfocus-small" > 
            <!--
              <span class="ac-gn-link-text">Apple Developer</span> 
            
            -->
            </a>
          </li>
          <li class="ac-gn-item ac-gn-bag ac-gn-bag-small" id="ac-gn-bag-small">
            <a class="ac-gn-link ac-gn-link-bag" href="/account/" > <span class="ac-gn-link-text">Account</span> <span class="ac-gn-bag-badge"></span> </a> <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span> </li>
        </ul>
        <ul class="ac-gn-list">
          <li class="ac-gn-item ac-gn-apple">
            <!--

            <a href="{{ site.mainsite }}">
              <img src="https://farm8.staticflickr.com/7146/27391557185_70e8edd3e4_o.png" height="80%">
                
              </img>

            </a>-->
            
            <a class="ac-gn-link ac-gn-link-apple" href="{{ site.mainurl }}" id="ac-gn-firstfocus" onclick="s_objectID=&quot;https://developer.apple.com/_2&quot;;return this.s_oc?this.s_oc(e):true"> 
            
            <span class="ac-gn-link-text">Apple Developer</span> 
            </a>
        
            
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-discover">
            <a class="ac-gn-link" href="{{ site.mainurl }}/" > <span>電影館</span> </a>
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-design">
            <a class="ac-gn-link" href="{{ site.mainurl }}/drama" > <span>戲劇館</span> </a>
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-develop">
            <a class="ac-gn-link" href="{{ site.mainurl }}/carton" > <span>卡通館</span> </a>
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-develop">
            <a class="ac-gn-link" href="{{ site.mainurl }}/" > <span></span> </a>
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-develop">
            <a class="ac-gn-link" href="{{ site.mainurl }}/" > <span></span> </a>
          </li>
          <li class="ac-gn-item ac-gn-item-menu ac-gn-develop">
            <a class="ac-gn-link" href="{{ site.mainurl }}/" > <span></span> </a>
          </li>
          
        </ul>
        <aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
          <div class="ac-gn-searchview-content">
            <form id="ac-gn-searchform" class="ac-gn-searchform" action="/search/" method="get">
              <div class="ac-gn-searchform-wrapper"> <input id="ac-gn-searchform-input" class="ac-gn-searchform-input" type="text" name="q" placeholder="Search" data-placeholder-long="Search for documentation, videos, and more" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false"> <button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled="" aria-label="Submit"></button> <button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled="" aria-label="Clear Search"></button> </div>
            </form>
            <aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Quick Links" data-string-suggestions="Suggested Searches" data-string-noresults="Hit enter to search.">

            </aside>
          </div> <button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Close Search">
              <span class="ac-gn-searchview-close-wrapper">
                <span class="ac-gn-searchview-close-left"></span>
                <span class="ac-gn-searchview-close-right"></span>
              </span>
            </button> </aside>
      </div>
    </nav>
    <div id="ac-gn-curtain" class="ac-gn-curtain"></div>
    <div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>
    <section class="sticky" data-hires-status="pending">
      <nav class="subnav" role="navigation" aria-label="Local Navigation" data-hires="true">
        <section class="sub-title"><h2><a href="{{ site.baseurl }}">{{ site.title }}</a></h2>
        </section>
      </nav>
    </section>
      <main id="main" class="main" role="main">

        <div class="grid">
          <div id="introduction" class="row">
            <header class="col-100 text-center">
              <!--
              <h1 class="human-interface-guideline-product-logo"><span class="text-replace">Apple Watch</span></h1>-->

              <h2>{{page.title}}</h2>
              <p class="intro width-80 center">{{page.pageDescription}}</p>
            </header>
          </div>
        </div>
        <!-- HIG content -->
        <div class="bg-light">
          <div class="grid" data-hires="true">
            <section class="row">
              {% include sidebar.html %}
              <!-- Main content -->
              <div class="col-80 hig-content" data-hires="true">
               {{ content }}
              </div>
            </section>
          </div>
        </div>
        
        {% if page.isLast %}
          
        {% else %}
          <div class="grid">
          <section id="router" class="router">
            <a href="{{ site.baseurl }}{{page.nextSessionLink}}" class="block row">
              <span class="col-33">
                <h4 class="show-only-for-small"><small>Next</small></h4>
                <div class="containerimg"><img height="168" width="300" class="containerimgcss" src="{{page.nextSessionImage}}" alt="" /></div>

            

              </span>
              <span class="col-66">
                <span class="router-copy two-lines">
                  <h4>
                    <small>Next</small>
                    {{page.nextSessionTitle}}
                  </h4>
                  <p class="block-link more">{{page.nextSessionDescription}} <span class="nowrap"></span></p>
                </span>
              </span>
            </a>
          </section>
        </div>
        {% endif %}
        
      </main>   
  </body>
</html>
