
<!-- 
這裡其實還是可以抓到page的參數
ex: {{ site.baseurl }} -->

<div class="col-20 doc-nav-container">
            <nav id="doc-nav" class="doc-nav" role="navigation" aria-label="Local Navigation" data-hires="true">
  <ul class="side">
    <li class="nav-overview"><a href="{{ site.baseurl }}/">Overview</a>
      <ul class="sub-side">
        <li><a href="#看片金主要的目的">看片金主要的目的</a></li>
        <li><a href="#研究洞察方法">研究洞察方法</a></li>
        <li><a href="#痛點">痛點：客戶遇到的問題</a></li>
        <li><a href="#設計主張">設計主張</a></li>

      </ul>
    </li>

    <li class="nav-designflow"><a href="{{ site.baseurl }}/designflow">細部設計概要</a>
      <ul class="sub-side">
        <li><a href="#功能清單">功能清單</a></li>
        <li><a href="#流程">流程</a></li>
        <li><a href="#StyleGuideline">Style Guideline</a></li>
        <li><a href="#Revision">更新履歷</a></li>

      </ul>
    </li>
    <li class="nav-designopening"><a href="{{ site.baseurl }}/designopening">開機看片金擋卡</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#Prototyping">Prototyping</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>

    <li class="nav-designopeningasscociate"><a href="{{ site.baseurl }}/designopeningasscociate">看片金與片架串連</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#Prototyping">Prototyping</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>

    <li class="nav-messageinchannel"><a href="{{ site.baseurl }}/messageinchannel">開機頻道訊息通知</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>

    <li class="nav-designopeninginfo"><a href="{{ site.baseurl }}/designopeninginfo">首頁看片金餘額</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
     <li class="nav-designmovieentry"><a href="{{ site.baseurl }}/designmovieentry">電影館首頁看片金入口</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
    <li class="nav-designorderrecord"><a href="{{ site.baseurl }}/designorderrecord">訂閱記錄顯示看片金</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>

    <li class="nav-designmyfavorite"><a href="{{ site.baseurl }}/designmyfavorite">我的收藏顯示看片金</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
    <li class="nav-designwatchrecord"><a href="{{ site.baseurl }}/designwatchrecord">我的看片記錄顯示看片金任務</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
    <li class="nav-designcouponarea"><a href="{{ site.baseurl }}/designcouponarea">看片金專區</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
    <li class="nav-designcouponhintalert"><a href="{{ site.baseurl }}/designcouponhintalert">看片金到期溫和提醒</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>
    <li class="nav-designcouponhintpopup"><a href="{{ site.baseurl }}/designcouponhintpopup">看片金到期全館提醒</a>
      <ul class="sub-side">
        <li><a href="#Overview">Overview</a></li>
        <li><a href="#介面說明">介面說明</a></li>
        <li><a href="#操作說明">操作說明</a></li>
        <li><a href="#資訊維運">資訊維運</a></li>
        <li><a href="#遙控器對應">遙控器對應</a></li>
      </ul>
    </li>


  </ul>
</nav>

          </div>



<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox"> -->

<!-- Toggleable sidebar -->
<!-- <div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
 -->